@model CategoriesListViewModel
<div id="categories" class="px-4 pb-4">
                @foreach (var level in Model.Categories.Select(c => c.Level).Distinct().Order())
                {
                    <div class="ul" level="@level">
                        @foreach (var category in Model.Categories.Where(c => c.Level == level))
                        {
                            @if (Model.Categories.Any(c=>Convert.ToInt32(c.PrentCategoryId)==category.Id))
                            {
                                <details class="m-2" id="@category.Id" parent-id="@category.PrentCategoryId">
                                    <summary>
                                        @if (Model.SelectedCategories.Contains(category.Id))
                                        {
                                            <input checked type="radio" name="CategoryList.SelectedCategories" value=@category.Id.ToString() id="@category.Title">
                                        }
                                        else
                                        {
                                            <input  type="radio" name="CategoryList.SelectedCategories" value=@category.Id.ToString() id="@category.Title">
                                        }
                                        <label  for="@category.Title">@category.Title</label>
                                    </summary>
                                </details>
                            }
                            else
                            {
                                <details class="m-2" id="@category.Id" parent-id="@category.PrentCategoryId">
                                    <summary class="list-none" style="list-style: none">
                                         @if (Model.SelectedCategories.Contains(category.Id))
                                         {
                                             <input checked type="radio" name="CategoryList.SelectedCategories" value=@category.Id.ToString() id="@category.Title">
                                         }
                                         else
                                         {
                                             <input  type="radio" name="CategoryList.SelectedCategories" value=@category.Id.ToString() id="@category.Title">
                                         }
                                        
                                        <label for="@category.Title">@category.Title</label>
                                    </summary>
                                </details>
                            }
                        }
                    </div>
                    
                }
            </div>

