@model StoreViewModel

<!-- ========================== Header main ======== -->
<header class="header">
    <p>سایت پژوفون</p>
    <div class="typed">
        <span id="typed"></span>
    </div>
</header>
<!-- ====================== End Header main ======== -->

<div class="grid grid-cols-1 md:grid-cols-5   p-2 ">
    <div class="filter p-3 md:col-span-2 lg:col-span-1">
        <p class="line-after font-bold p-3">فیلتر ها</p>
        <form asp-action="Filter" asp-controller="Store" method="get">
            <div class="flex flex-col  p-3">
                <label name="ProductName" asp-for="Filter.ProductName"></label>
                <input class="mt-2 border border-gray-500 rounded p-1" type="text"  name="ProductName" asp-for="Filter.ProductName">
            </div>
            @if (Model != null)
            {
                <div class="flex flex-col  p-3">
                    <label for="amount" >قیمت کالا</label>
                    <div class="flex flex-row-reverse">
                        <input class="w-6/12 text-left" type="text" id="min_amount" name="ProductPriceMin" asp-for="Filter.ProductPriceMin" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        <input class="w-6/12" type="text" id="max_amount" name="ProductPriceMax" asp-for="Filter.ProductPriceMax" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </div>
                    <div id="slider-range" class="mt-2"></div>
                </div>
            }
            <div>
                <div>
                    <p class="font-bold line-after">فیلتر براساس دسته بندی ها</p>
                </div>
                <div>
                    @* <div class="flex pr-4"> *@
                    @*     <input id="allcategories" checked type="checkbox" value="all" asp-for="Filter.AllCategories"> *@
                    @*     <label for="allcategories">همه دسته بندی ها</label> *@
                    @* </div> *@
                    <partial  name="CategoriesCheckbox" for="Filter.CategoryList"/>
                </div>
            </div>
            <div>
                <div>
                    <p class="font-bold line-after">فیلتر براساس فیلد ها</p>
                </div>
                <div>
                    <div class="flex pr-4">
                        
                        <select multiple name="SelectedFields" id="fieldSelectorFilter" data-no_results_text="فیلد مورد نظر یافت نشد" data-placeholder="فیلد مورد نظر خود را انتخاب کنید ">
                            @foreach (var field in Model.Filter.Fields)
                            {
                                if (Model.Filter.SelectedFields.Contains(field.FieldTitle))
                                {
                                    <option selected asp-for="Filter.SelectedFields" value="@field.FieldTitle">@field.FieldTitle</option>
                                }
                                else
                                {
                                    <option asp-for="Filter.SelectedFields" value="@field.FieldTitle">@field.FieldTitle</option>
                                }
                            }
                        </select>
                    </div>
                    
                </div>
            </div>
            
            <div class="p-3">
                @* id="filter" *@
                <button type="submit" class="bg-slate-950 block text-center p-2 rounded text-white">جستجو</button>
            </div>
        </form>
    </div>
    
    <div id="Store" class="products h-fit grid md:col-span-3 lg:col-span-4 gap-3 sm:grid-cols-2 lg:grid-cols-3">
        @foreach (var item in Model.Products)
        {
            <div class="border-2 border-gray-800 h-fit" data-id="@item.Id">
                <div class="border-b-2 border-gray-800 p-2">
                    <img class="rounded" src="/images/@item.ImageProduct" alt="">
                </div>
                <div>
                    <p class="text-center mb-2">@item.ProductName</p>
                    <p class="text-center text-red-800 mb-2">@item.ProductPrice ریال </p>
                </div>
                <div class="flex">
                    <a class="bg-slate-950 mx-2 block text-center p-2 rounded text-white w-2/4  m-3" asp-action="CreateOrEditProduct" asp-controller="Store" asp-route-pid="@item.Id">ویرایش محصول</a>
                    <a class="bg-slate-950 mx-2 block text-center p-2 rounded text-white w-2/4  m-3" asp-action="EditProductPrice" asp-controller="Store" asp-route-id="@item.Id">ویرایش قیمت</a>
                </div>
            </div>
        }
    </div>
</div>


@if (@Model.Products.Count() != 0)
{
    @section Scripts
    {
        <script>
       // $( ".price_rang" ).rangeslider();
        $( function() {
            $( "#slider-range" ).slider({
              
            range: true,
            min: @Model.Filter.ProductPriceMin,
            max:  @Model.Filter.ProductPriceMax, 
            values: [ @Model.Filter.ProductPriceMin, @Model.Filter.ProductPriceMax ],
            slide: function( event, ui ) {
            $( "#min_amount" ).val(  ui.values[ 0 ] );
            $("#max_amount").val(  ui.values[ 1 ]);
              }
            });
            $( "#min_amount" ).val(  $( "#slider-range" ).slider( "values", 0 ) 
                   );
            $( "#max_amount" ).val($( "#slider-range" ).slider( "values", 1 ));  
            })
        </script>
        <script src="/js/AutomaticLists.js"></script>
        <script>
            
             $(document).ready(function () {
                 $("#filter").click(function () {
                     $("#Store").empty()
                     var productName = $("#Filter_ProductName").val()
                     var Min=$("#min_amount").val()
                     var Max=$("#max_amount").val()
                     $.ajax({
                         method: "GET",
                         url: "/Store/AJaxFilter?ProductName="+productName+"&ProductPriceMin="+Min+"&ProductPriceMax="+Max,
                         
                     }).done((e)=>{
                         var list = e["products"]
                         for (var index in list){
                          var div = document.createElement("div")
                          $(div).addClass("border-2 h-fit border-gray-800")
                          $(div).attr("data-id",list[index].id)
                          var imgbox = document.createElement("div");
                          $(imgbox).addClass("border-b-2 border-gray-800 p-2")
                          var img = document.createElement("img")
                          $(img).addClass("rounded").attr("src","/images/"+list[index]["imageProduct"])
                          $(imgbox).append(img)
                          var infobox = document.createElement("div")
                          var par_name = document.createElement("p")
                          var par_price= document.createElement("p")
                          $(par_name).addClass("text-center mb-2").text(list[index]["productName"])
                          $(par_price).addClass("text-center text-red-800 mb-2").text(list[index]["productPrice"])
                          var btnbox = document.createElement("div")
                          $(btnbox).addClass("flex")
                           
                           var editbtn = document.createElement("a")
                           $(editbtn).addClass("bg-slate-950 mx-2 block text-center p-2 rounded text-white w-2/4  m-3").attr("href","/Store/CreateOrEditProduct?pid="+list[index].id).text("ویرایش محصول")
                          var editpricebtn = document.createElement("a")
                           $(editpricebtn).addClass("bg-slate-950 mx-2 block text-center p-2 rounded text-white w-2/4  m-3").attr("href","/Store/EditProductPrice/"+list[index].id).text("ویرایش قیمت")
                          $(btnbox).append(editbtn)
                          $(btnbox).append(editpricebtn)
                          $(div).append(imgbox)
                          $(div).append(infobox)
                          $(div).append(btnbox)
                          $(infobox).append(par_name)
                          $(infobox).append(par_price)
                          $("#Store").append(div)
                          }
                     });
                 });
             });
         </script>
        <script >
            $("#fieldSelectorFilter").chosen({
                width:"100%"
            });
        </script>
    }

}

