@model StoreViewModel

<!-- ========================== Header main ======== -->
<header class="header">
    <p>سایت پژوفون</p>
    <div class="typed">
        <span id="typed"></span>
    </div>
</header>
<!-- ====================== End Header main ======== -->

<div class="grid grid-cols-1 md:grid-cols-5   p-2 ">
    <div class="filter p-3 md:col-span-2 lg:col-span-1">
        <p class="border-b-2 border-gray-800 p-3">فیلتر ها</p>
        <form asp-action="Filter" asp-controller="Store" method="get">
            <div class="flex flex-col  p-3">
                <label asp-for="Filter.ProductName"></label>
                <input class="mt-2 border border-gray-500 rounded p-1" type="text"  name="ProductName" >
            </div>
            @if (Model != null)
            {
                <div class="flex flex-col  p-3">
                    <label for="amount" >قیمت کالا</label>
                    <div class="flex flex-row-reverse">
                        <input class="w-6/12 text-left"  id="min_amount" name="ProductPriceMin" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        <input class="w-6/12"  id="max_amount" name="ProductPriceMax" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    </div>
                    <div id="slider-range" class="mt-2"></div>
                </div>
            }
            
            <div class="p-3">
                <button  type="submit"  id="filter" class="bg-slate-950 block text-center p-2 rounded text-white" >جستجو</button>
            </div>
        </form>
    </div>
    
    <div id="Store" class="products grid md:col-span-3  lg:col-span-4 gap-3 sm:grid-cols-2 lg:grid-cols-3">
        @foreach (var item in Model.Products)
        {
            <div class="border-2 border-gray-800" data-id="@item.Id">
                <div class="border-b-2 border-gray-800 p-2">
                    <img class="rounded" src="/images/@item.ImageProduct" alt="">
                </div>
                <div>
                    <p class="text-center mb-2">@item.ProductName</p>
                    <p class="text-center text-red-800 mb-2">@item.ProductPrice ریال </p>
                </div>
                <div class="flex">
                    <a class="bg-slate-950 mx-2 block text-center p-2 rounded text-white w-2/4  m-3" asp-action="CreateOrEditProduct" asp-controller="Store" asp-route-id="@item.Id">ویرایش محصول</a>
                    <a class="bg-slate-950 mx-2 block text-center p-2 rounded text-white w-2/4  m-3" asp-action="EditProductPrice" asp-controller="Store" asp-route-id="@item.Id">ویرایش قیمت</a>
                </div>
            </div>
        }
    </div>
</div>


@if (@Model.Products.Count() != 0)
{
    @section Scripts
    {
        <script>
       // $( ".price_rang" ).rangeslider();
        $( function() {
            $( "#slider-range" ).slider({
              
            range: true,
            min: 0,
            max:  @Model.Filter.MaxPrice, 
            values: [ 0, @Model.Filter.MaxPrice ],
            slide: function( event, ui ) {
            $( "#min_amount" ).val(  ui.values[ 0 ] );
            $("#max_amount").val(  ui.values[ 1 ]);
              }
            });
            $( "#min_amount" ).val(  $( "#slider-range" ).slider( "values", 0 ) 
                   );
            $( "#max_amount" ).val($( "#slider-range" ).slider( "values", 1 ));  
            })
    </script>
    }

}
